{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="POST">
    <label>아이디</label>
    <input type="text" name="username"/>
    
    <label>패스워드</label>
    <input type="password" name="password"/>
    
    <input type="submit" value="login"></input>
</form>
{% endblock %}